@import "../theme/colors";

$background: "#f5f8fb";
$fontFamily: "Tahoma";
$headerBgColor: $secondary;
$headerFontColor: white;
$headerFontSize: "15px";
$botBubbleColor: $secondary;
$botFontColor: white;
$userBubbleColor: white;
$userFontColor: "#4a4a4a";
