// theme/_colors.scss

$primary: #ffffff;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #1a73e8;
$secondary-light: #5fa4ff;
$secondary-dark: #124b96;

$on-primary: #000;
$on-primary-light: #a1a1a1;
$on-secondary: #fff;

$highlight: $secondary;
